/* 모바일만 ~767px */
@media screen and (max-width: 767px) {}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
    .ft_container {
        .ft_wrap {
            address {
                ul {
                    li {
                        a {
                            &.ft_line {
                                position: relative;
                                &::after {
                                    position: absolute;
                                    top:0.6rem;
                                    right: 0;
                                    width: 0.1rem;
                                    height: 1.2rem;
                                    background-color: #3e474f;
                                    content: '';
                                }
                            }
                        }
                    }
                }
                >div {
                    font-size: 1.6rem;
                }
            }
        }
    
    }
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {

}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {
    .hd_container {
        .hd_wrap {
            .logo {
                width: 17rem;
            }
            .gnb {
                display: block;
                position: absolute;
                top:50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .depth1 {
                    display: flex;
                    gap: 6.5rem;
                    li {
                        a {
                            display: block;
                            font-size: 2rem;
                            color:$wh;
                        }
                    }
                }
            }
            .menu {
                li {
                    a {
                        display: inline-block;
                        padding: 0.3rem 1rem;
                        font-size: 1.4rem;
                        border: 0.1rem solid #fff;
                        border-radius: 1.5rem;
                        color:$wh;
                        text-align: center;
                    }
                }
            }
        }
    }

}