/* 모바일만 ~767px */
@media screen and (max-width: 767px) {}

/* 태블릿부터 768px~ */
@media screen and (min-width: 768px) {
    .lnb_container {
        .lnb_wrap {
            .lnb_depth2 {
                gap:5rem;
            }
        }
    }
    .evnet_main_container {
        .event_wrap {
            >h2 {
                width: 18rem;
                height: 18rem;
            }
            .poster_box {
                margin: 10rem auto 0 auto;
                .img {
                    max-width: 90%;
                    margin: 0 auto;
                    padding-top: 83.9rem;
                }
                .poster_txtbox {
                    h4 {
                        font-size: 4.5rem;
                    }
                    >div {
                        ul {
                            &:nth-child(2) {
                                padding-top: 5rem;
                            }
                            &:nth-child(3) {
                                padding-top: 5rem;
                            }
                            li {
                                font-size: 2.5rem;
                                &:nth-child(1) {
                                    font-size: 2.1rem;
                                }
                            }
                        }
                    }
                }
            }
            .invite_box {
                .invite_title {
                    font-size: 2.1rem;
                }
            }
        }
    }
}

/* 태블릿만 768px~1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* PC부터 1024px~ */
@media screen and (min-width: 1024px) {}

/* 작은 PC 1024px~1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {}

/* PC 1280px~ */
@media screen and (min-width: 1280px) {
    .lnb_container {
        .lnb_wrap {
            .title {
                position: absolute;
                top:13rem;
                left: 6rem;
                margin-top: -2rem;
                li {
                    &:nth-child(2) {
                        font-size: 2rem;
                    }
                }
            }
            .lnb_imgbox {
                .item1 {
                    position: absolute;
                    top:-5rem;
                    right: 27rem;
                }
                .item2 {
                    display: block;
                    position: absolute;
                    top:0rem;
                    right: 19rem;
                }
                .item3 {
                    display: block;
                    position: absolute;
                    right: 6rem;
                    bottom: -24.5rem;
                }
            }
            .lnb_depth2 {
                gap:10rem;
                li {
                    a {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    .evnet_main_container {
        .event_wrap {
            >h2 {
                width: 20rem;
                height: 20rem;
                margin: 15rem auto 0 auto;
            }
            .txtbox {
                padding-top: 13rem;
                font-size: 2.2rem;
                .txt1 {
                    font-size: 4rem;
                }
                .txt2 {
                    padding-top: 5rem;
                }
                .txt3 {
                    padding-top: 7rem;
                }
            }
            .poster_box {
                flex-wrap: nowrap;
                margin: 10rem auto 0 auto;
                .img {
                    position: relative;
                    max-width: inherit;
                    margin: inherit;
                }
                .poster_txtbox {
                    width: 50%;
                    padding-left: 5rem;
                    padding-top:5rem;
                    max-width: inherit;
                    margin: inherit;
                    text-align: inherit;
                    h4 {
                        width: 150%;
                    }
                    >div {
                        ul {
                            li {
                                font-size: 2.7rem;
                                &:nth-child(1) {
                                    font-size: 2.5rem;
                                    &::before {
                                        top:0.9rem;
                                    }
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .invite_box {
                max-width: 70%;
                margin: 25rem auto 0 auto;
                .invite_title {
                    font-size: 2.2rem;
                }
                .invite_flexbox {
                    gap: 8rem;
                }
            }
        }
    }
}
/* PC 1600px~ */
@media screen and (min-width: 1600px) {
    .evnet_main_container {
        width: 100%;
        .event_wrap {
            .poster_box {
                .poster_txtbox {
                    padding-top:inherit;
                }
            }
        }
    }
}