main {
    font-size: 1.6rem;
}

.visual_container {
    position: relative;
    margin-top: -9.3rem;
    width: 100%;
    background: url('../images/mainvisual/mv_bg2.png') center center / cover no-repeat;
    z-index: -2;
    .visual_wrap {
        max-width: 166rem;
        margin: 0 auto;
        color:$wh;
        .visual_box {
            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                .moon {
                    width: 13rem;
                    height: 23rem;
                    padding-top: 10rem;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .txtbox {
                    position: relative;
                    .main_txt {
                        font-family: $peace;
                        text-align: center;
                        .txt {
                            font-weight: bold;
                            font-size: 10rem;
                            letter-spacing: 0.8rem;
                            line-height: 1.1;
                        }
                        .txt2 {
                            position: relative;
                            font-size: 3rem;
                            font-weight: 400;
                            padding-left: 10rem;
                            &::before {
                                position: absolute;
                                top:50%;
                                left:6.5rem;
                                width: 9rem;
                                height: 0.1rem;
                                background-color: $wh;
                                transform: translateY(-50%);
                                content: '';
                            }
                        }
                        .sub_txt {
                            padding-top: 3rem;
                            font-family: $pyeong;
                            text-align: left;
                            .subtxt1 {
                                font-family: $peace;
                                font-size: 2rem;
                            }
                            .subtxt2 {
                                display: none;
                                padding-top: 11rem;
                                font-size: 1.8rem;
                            }
                            .subtxt3 {
                                padding-top: 2rem;
                                font-size: 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .imgbox {
        position: relative;
        width: 100%;
        margin-top: 6rem;
        padding-bottom: 18rem;
        z-index: -1;
        &::after {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/mainvisual/mv_2_building.png') center center / cover no-repeat;
            content: '';
        }
    }
    .visual_label_pc {
        display: none;
    }
    .visual_label_mo {
        position: relative;
        width: 100%;
        margin-top: 5rem;
        background-color: #ffe103;
        .mo_title {
            position: absolute;
            top:-5rem;
            left: 50%;
            padding: 1rem 4rem 3rem 4rem;
            font-family: $peace;
            font-size: 2.4rem;
            font-weight: bold;
            border-radius: 3rem;
            background-color: #ffe103;
            transform: translateX(-50%);
            z-index: -1;
            &::before {
                position: absolute;
                top:1.5rem;
                left: 1.3rem;
                width: 2.3rem;
                height: 2.3rem;
                background: url('../images/mainvisual/mv_3_star.png') center center / cover no-repeat;
                content: '';
            }
            &::after {
                position: absolute;
                top:1.5rem;
                right: 1.3rem;
                width: 2.3rem;
                height: 2.3rem;
                background: url('../images/mainvisual/mv_3_star.png') center center / cover no-repeat;
                content: '';
            }
        }
        .mo_notice {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            font-weight: 700;
        }
    }
}
.video_container {
    position: relative;
    width: 100%;
    background: url('../images/mb_bg.png') center center / cover no-repeat ;
    .build_img {
        position: relative;
        width: 100%;
        padding-bottom: 16rem;
        &::after {
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../images/section1_video/mb_building.png') center center / cover no-repeat;
            opacity: 0.3;
            content: '';
        }
    }
    .video_wrap {
        max-width: 166rem;
        margin: 0 auto;
        .video_txtbox {
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding-top: 18rem;
            .moon {
                width: 13rem;
                height: 13rem;
                // padding-top: 10rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            >ul {
                display: flex;
                margin-top: -2rem;
                li {
                    font-family: $peace;
                    font-weight: bold;
                    font-size: 6rem;
                    color:$wh;
                    &:nth-child(1) {
                        position: relative;
                        left: 3rem;
                    }
                    &:nth-child(2) {
                        width: 9rem;
                        font-size: 2rem;
                        font-weight: 400;
                        transform: rotate(90deg) translateY(35%);
                        text-align: center;
                    }
                    &:nth-child(3) {
                        position: relative;
                        right: 3rem;
                    }
                }
            }
            .video_txt {
                padding-top: 2rem;
                font-family: $pyeong;
                font-size: 2.2rem;
                color:$wh;
                text-align: center;
            }
        }
        .video_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 95%;
            margin: 0 auto;
            padding-top: 3rem;
            .video {
                position: relative;
                width: 100%;
                padding-bottom: 25rem;
                border-radius: 1rem;
                iframe {
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 0.1rem solid transparent;
                    border-radius: 1rem;
                }
            }
            .video_link {
                a {
                    position: relative;
                    display:block;
                    margin-top: 4rem;
                    padding: 1.5rem 6rem 1.5rem 3rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    color:$bk;
                    border-radius: 3rem;
                    background-color: #ffe103;
                    text-align: center;
                    transition: 0.3s;
                    &:hover {
                        scale: 1.01;
                    }
                    span {
                        position: absolute;
                        top:50%;
                        right: 2.8rem;
                        width: 1.7rem;
                        height: 1.5rem;
                        background: url('../images/section1_video/section1_arrow.png') center center / cover no-repeat;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
.night_container {
    position: relative;
    width: 100%;
    height: 90rem;
    background: url('../images/bg_star2.png') center center / cover no-repeat ;
    .night_wrap {
        max-width: 166rem;
        margin: 0 auto;
        .night_title_box {
            position: relative;
            top:15rem;
            color:$wh;
            text-align: center;
            .night_title {
                position: relative;
                display: inline-block;
                font-size: 3rem;
                font-weight: 700;
                // >span {
                //     position: absolute;
                //     right: -13.5rem;
                //     top:-8rem;
                //     width: 18.3rem;
                //     height: 18rem;
                //     background: url('../images/section2_8night/section2_chinese.png') center / cover no-repeat;
                // }
            }
            .night_sub {
                padding-top: 1rem;
                font-size: 1.8rem;
                font-weight: 500;
            }
        }
        .night_swiper {
            .night_box {
                text-align: center;
                .night {
                    position: relative;
                    .slide_title_box {
                        position: relative;
                        top:16rem;
                        z-index: 1;
                        .number {
                            font-family: $noto;
                            font-size: 3rem;
                            font-weight: 600;
                            color:#878b8e;
                        }
                        .slide_title {
                            font-family: $peace;
                            font-weight: bold;
                            font-size: 5rem;
                            color:$wh;
                        }
                        .slide_last {
                            font-family: $pyeong;
                            font-size: 1.6rem;
                            color:$wh;
                        }
                    }
                    .night_img {
                        position: relative;
                        max-width: 99%;
                        margin: 10rem auto 0 auto;
                        padding-bottom: 27rem;
                        &::before {
                            position: absolute;
                            top:0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: '';
                        }
                        span {
                            position: absolute;
                            top:5rem;
                            left: 20%;
                            width: 3rem;
                            height: 3rem;
                            background: url('../images/section2_8night/section2_obj_1.png') center center / cover no-repeat;
                        }
                        &::after {
                            position: absolute;
                            top: 3rem;
                            right: 10%;
                            width: 10rem;
                            height: 10rem;
                            background: url('../images/section2_8night/section2_obj_2.png') center center / cover no-repeat;
                            content: '';
                            z-index: -1;
                        }
                    }
                    .prev {
                        position: absolute;
                        bottom:34rem;
                        left: 2rem;
                        display: block;
                        width: 10rem;
                        height: 3rem;
                        font-family: $peace;
                        font-weight: bold;
                        font-size: 1.8rem;
                        border-radius: 50%;
                        background-color: #eebb1f;
                        cursor: pointer;
                        // z-index: 5;
                        .left {
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.5rem;
                            background: url('../images/section2_8night/section2_obj_3_arrow_l.png') center center / cover no-repeat;
                        }
                        .number_title {
                            font-family: $noto;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                    }
                    .next {
                        position: absolute;
                        right: 2rem;
                        bottom: 34rem;
                        display: block;
                        width: 10rem;
                        height: 3rem;
                        font-family: $peace;
                        font-weight: bold;
                        font-size: 1.8rem;
                        border-radius: 50%;
                        color:$wh;
                        background-color: #9539e3;
                        cursor: pointer;
                        // z-index: 5;
                        .right {
                            display: inline-block;
                            width: 1rem;
                            height: 1rem;
                            margin-left: 0.5rem;
                            background: url('../images/section2_8night/section2_obj_4_arrow_r.png') center center / cover no-repeat;
                        }
                        .number_title {
                            font-family: $noto;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                    }
                    .slide_sub {
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 95%;
                        margin: 0 auto;
                        text-align: left;
                        li {
                            width: 100%;
                            padding-top: 1rem;
                            font-size: 1.6rem;
                            color:$wh;
                            span {
                                display: inline-block;
                                width: 1.3rem;
                                height: 1.3rem;
                                margin-right: 1rem;
                                background: url('../images/section2_8night/section2_obj_4_star.png') center center / cover no-repeat;
                            }
                        }
                    }
                }
                .night1 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_1.png') center center / contain no-repeat;
                        }
                    }
                }
                .night2 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_2.png') center center / contain no-repeat;
                        }
                    }
                }
                .night3 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_3.png') center center / contain no-repeat;
                        }
                    }
                    .prev {
                        bottom:37.5rem;
                    }
                    .next {
                        bottom: 37.5rem;
                    }
                }
                .night4 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_4.png') center center / contain no-repeat;
                        }
                    }
                    .prev {
                        bottom:44.6rem;
                    }
                    .next {
                        bottom: 44.6rem;
                    }
                }
                .night5 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_5.png') center center / contain no-repeat;
                        }
                    }
                    .prev {
                        bottom:41.1rem;
                    }
                    .next {
                        bottom: 41.1rem;
                    }
                }
                .night6 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_6.png') center center / contain no-repeat;
                        }
                    }
                }
                .night7 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_7.png') center center / contain no-repeat;
                        }
                    }
                    .prev {
                        bottom:30.4rem;
                    }
                    .next {
                        bottom: 30.4rem;
                    }
                }
                .night8 {
                    .night_img {
                        &::before {
                            background: url('../images/section2_8night/section2_8.png') center center / contain no-repeat;
                        }
                    }
                    .prev {
                        bottom:30.4rem;
                    }
                    .next {
                        bottom: 30.4rem;
                    }
                }
            }
        }
    }
    .cloudbox {
        position: absolute;
        bottom: 0;
        width: 100%;
        .cloud {
            text-indent: -9999rem;
        }
        .cloud1 {
            display: none;
        }
        .cloud2 {
            display: none;
        }
        .cloud3 {
           display: none;
        }
        .cloud4 {
            display: none;
        }
    }
}
.introduction_container {
    width: 100%;
    background: url('../images/bg_star2.png') center center / cover no-repeat ;
    .introduction_wrap {
        max-width: 166rem;
        margin: 0 auto;
        .introduction_title {
            text-align: center;
            color:$wh;
            h3 {
                font-size: 4.2rem;
            }
            >div {
                padding-top: 1rem;
            }
        }
        .introduction_cate {
            display: flex;
            justify-content: center;
            gap: 3.5rem;
            padding-top: 5rem;
            li {
                a {
                    display: block;
                    padding: 1rem 4rem;
                    border: 0.1rem solid $wh;
                    border-radius: 5rem;
                    font-size: 1.9rem;
                    color:$wh;
                }
            }
        }
    }
    .left_show {
        position: relative;
        display: flex;
        gap: 2.5rem;
        width: 640rem;
        padding-top: 7rem;
        animation-name: left;
        animation-duration: 80s;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        li {
            position: relative;
            width: 25rem;
            padding-bottom: 20rem;
            a {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                &:nth-child(1) {margin-left: 2.5rem;}
                &.intro_img1 {background: url('../images/section3_introduce/section3_1.jpg') center center / cover no-repeat;}
                &.intro_img2 {background: url('../images/section3_introduce/section3_2.jpg') center center / cover no-repeat;}
                &.intro_img3 {background: url('../images/section3_introduce/section3_3.jpg') center center / cover no-repeat;}
                &.intro_img4 {background: url('../images/section3_introduce/section3_4.jpg') center center / cover no-repeat;}
                &.intro_img5 {background: url('../images/section3_introduce/section3_5.jpg') center center / cover no-repeat;}
                &.intro_img6 {background: url('../images/section3_introduce/section3_6.jpg') center center / cover no-repeat;}
                &.intro_img7 {background: url('../images/section3_introduce/section3_7.jpg') center center / cover no-repeat;}
                &.intro_img8 {background: url('../images/section3_introduce/section3_8.jpg') center center / cover no-repeat;}
                &.intro_img9 {background: url('../images/section3_introduce/section3_9.jpg') center center / cover no-repeat;}
                &.intro_img10 {background: url('../images/section3_introduce/section3_10.jpg') center center / cover no-repeat;}
            }
        }
        @keyframes left {
            0% {transform: translate(0, 0);}
            100% {transform: translate(-50%, 0);}
        }
    }
    .right_show {
        position: relative;
        display: flex;
        gap: 2.5rem;
        width: 660rem;
        padding-top: 2.5rem;
        animation-name: right;
        animation-duration: 130s;
        animation-timing-function: linear;
        animation-iteration-count:infinite;
        li {
            position: relative;
            width: 25rem;
            padding-bottom: 20rem;
            a {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                &.intro_img11 {background: url('../images/section3_introduce/section3_11.jpg') center center / cover no-repeat;}
                &.intro_img12 {background: url('../images/section3_introduce/section3_12.jpg') center center / cover no-repeat;}
                &.intro_img13 {background: url('../images/section3_introduce/section3_13.jpg') center center / cover no-repeat;}
                &.intro_img14 {background: url('../images/section3_introduce/section3_14.jpg') center center / cover no-repeat;}
                &.intro_img15 {background: url('../images/section3_introduce/section3_15.jpg') center center / cover no-repeat;}
                &.intro_img16 {background: url('../images/section3_introduce/section3_16.jpg') center center / cover no-repeat;}
                &.intro_img17 {background: url('../images/section3_introduce/section3_17.jpg') center center / cover no-repeat;}
                &.intro_img18 {background: url('../images/section3_introduce/section3_18.jpg') center center / cover no-repeat;}
                &.intro_img19 {background: url('../images/section3_introduce/section3_19.jpg') center center / cover no-repeat;}
            }
        }
        @keyframes right {
            0% {transform: translate(-70%, 0);}
            100% {transform: translate(5%, 0);}
        }
    }
    .more {
        a {
            display: block;
            width: 15rem;
            max-width: 95%;
            margin: 5rem auto 0 auto;
            padding: 1rem;
            border: 0.1rem solid $wh;
            border-radius: 5rem;
            font-size: 1.9rem;
            color:$wh;
            text-align: center;
        }
    }
}
.sns_container {
    position: relative;
    width: 100%;
    background: url('../images/bg_star2.png') center center / cover no-repeat ;
    .sns_wrap {
        max-width: 166rem;
        margin: 0 auto;
        padding-top: 15rem;
        h2 {
            font-size: 3.5rem;
            color:$wh;
            text-align: center;
        }
        h3 {
            padding: 3rem 0 10rem 0;
            font-size: 1.8rem;
            font-weight: 400;
            color:$wh;
            text-align: center;
        }
        .main_img_box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            div {
                position: relative;
                width: 32.5rem;
                padding-bottom: 5rem;
                img {
                    width: 100%;
                }
                ul {
                    padding-top: 4rem;
                    li {
                        font-size: 2rem;
                        font-weight: bold;
                        color:$wh;
                        &.sns_item2 {
                            padding-top: 2rem;
                            font-size: 1.6rem;
                            font-weight: 400;
                            span {
                                color:#ffe103;
                            }
                        }
                    }
                }
            }
        }
        .sns_link {
            a {
                position: relative;
                display:block;
                width: 33rem;
                margin: 5rem auto 0 auto;
                padding: 1.5rem 6rem 1.5rem 3rem;
                font-size: 1.7rem;
                font-weight: bold;
                color:$bk;
                border-radius: 3rem;
                background-color: #ffe103;
                text-align: center;
                transition: 0.3s;
                &:hover {
                    scale: 1.01;
                }
                span {
                    position: absolute;
                    top:50%;
                    right: 2.8rem;
                    width: 1.7rem;
                    height: 1.5rem;
                    background: url('../images/section1_video/section1_arrow.png') center center / cover no-repeat;
                    transform: translateY(-50%);
                }
            }
        }
    }
    .top_right_cloud {
        display: none;
    }
    .bottom_left_cloud {
        display: none;
    }
}
.menu_container {
    position: relative;
    width: 100%;
    padding-top: 40rem;
    background: url('../images/bg_star2.png') center center / cover no-repeat ;
    .menu_wrap {
        max-width: 166rem;
        margin: 0 auto;
        >h3 {
            position: absolute;
            top:20rem;
            left: 50%;
            transform: translateX(-50%);
            a {
                display: block;
                width: 15rem;
                height: 15rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        >ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:2rem;
            padding-top: 2.5rem;
            li {
                position: relative;
                width: 14rem;
                height: 12rem;
                border: 0.1rem solid #333a3f;
                border-radius: 1rem;
                cursor: pointer;
                overflow: hidden;
                &:hover {
                    a {
                        color:$bk;
                        .menu_item1 {background: url(../images/section4/section4_1b.png) center center / cover no-repeat;}
                        .menu_item2 {background: url(../images/section4/section4_2b.png) center center / contain no-repeat;}
                        .menu_item3 {background: url(../images/section4/section4_3b.png) center center / cover no-repeat;}
                        .menu_item4 {background: url(../images/section4/section4_4b.png) center center / contain no-repeat;}
                        .menu_item5 {background: url(../images/section4/section4_5b.png) center center / cover no-repeat;}
                        .menu_item6 {background: url(../images/section4/section4_6b.png) center center / cover no-repeat;}
                        &:hover {
                            background-color: #ffe103;
                            transition-delay: 0s;
                        }
                    }
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 2rem;
                    font-size: 1.8rem;
                    line-height: 1.4;
                    color:$wh;
                    transition: 0.6s;
                    span {
                        position: absolute;
                        bottom: 2rem;
                        right: 2rem;
                        width: 3.9rem;
                        height: 3.6rem;
                    }
                    .menu_item1 {background: url(../images/section4/section4_1.png) center center / cover no-repeat;}
                    .menu_item2 {background: url(../images/section4/section4_2.png) center center / contain no-repeat;}
                    .menu_item3 {background: url(../images/section4/section4_3.png) center center / cover no-repeat;}
                    .menu_item4 {background: url(../images/section4/section4_4.png) center center / contain no-repeat;}
                    .menu_item5 {background: url(../images/section4/section4_5.png) center center / cover no-repeat;}
                    .menu_item6 {background: url(../images/section4/section4_6.png) center center / cover no-repeat;}
                }
            }
        }
    }
    .menu_bg {
        width: 100%;
        height: 26.3rem;
        background: url('../images/footer/ft_bg.png') center center / cover no-repeat;
    }
}


.ani_top {
    opacity: 0;
    transform: translateY(15rem);
    transition: transform 1s;
}
.ani_left {
    opacity: 0;
    transform: translateX(-15rem);
    transition:1s;
}
.fade_in {
    opacity: 1;
    transform: translate(0);
}

.delay01 {transition-delay: 0.1s;}
.delay02 {transition-delay: 0.2s;}
.delay03 {transition-delay: 0.3s;}
.delay04 {transition-delay: 0.4s;}
.delay05 {transition-delay: 0.5s;}